@import "../../global";

.pagination {
  padding: 2rem 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;

  color: $text-white;

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin: 0 0.8rem;

    border-radius: 100px;
    background-color: $gray-blue-opacity;

    &_active {
      background-color: $gray;
    }
  }
}
