@import "../../global";

.header {
  &__wrapper {
    height: 150px;
    background-color: $dark-blue;
  }
  &__body {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-search {
    width: 30%;

    &__input {
      width: 100%;
      border-radius: 10px;
      border: none;
      padding: 5px 15px;
    }
  }
}
