@import "../../global";

.header {
  &__wrapper {
    height: 150px;
    background-color: $dark-blue;
  }
  &__body {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
