@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;

  font-weight: 400;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:root {
  font-size: 18px;
}
img {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 15px;
}

$dark-blue: #17223b;
$gray-blue-opacity: rgba(#6b778d, 0.35);
$red: #ff6768;
$gray: #6b778d;
$text-white: rgb(225, 225, 225);
